.thasadith-regular {
    font-family: "Thasadith", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .thasadith-regular-italic {
    font-family: "Thasadith", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .thasadith-bold {
    font-family: "Thasadith", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .thasadith-bold-italic {
    font-family: "Thasadith", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
.hllo {
  width: 1200px;
  height: 100px;
  background-color: grey;
  margin: 0 auto;
}

.lnk {
  width: 180px;
  margin-top: 20px;
  height: 100px;
  background-color: rgb(188, 188, 188);
  margin-left: 83px;
}
.p {
  width: 800px;
  height: 100px;
  margin-top: 20px;
  margin-left: 20px;
  background-color:  rgb(188, 188, 188);
}
.ab {
  width: 180px;
  margin-top: 20px;
  height: 100px;
  background-color: rgb(188, 188, 188);
  margin-left: 20px;
}
.w3 {
  width: 1200px;
  margin-top: 20px;
  height: 100px;
  background-color: rgb(188, 188, 188);
  margin-left: 20px;
  margin-left: 83px;
}
@media only screen and (max-width: 408px) {
  .lime {
    display: block;
  }
  
}